<% include public/views/header.ejs %>

<div class="container" id="masthead">
    <div class="row">
        <div class="six columns offset-by-three x-thin">
            <h3 class="text-center" id="title">Trucking Log</h3>
        </div>
    </div>
</div>

<% include public/views/log.ejs %>

<% include public/views/result.ejs %>

<% include public/views/footer.ejs %>