<div class="container" id="log">
    <h4 id="name"></h4>
    <form id="logData">
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Trip Number:</strong></span>
                <input type="number" name="tripNums" id="tripNums" size="2" maxlength="5" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Pick Up Date:</strong></span>
                <input type="date" name="tripDate" id="tripDate" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Pick Up Location:</strong></span>
                <input name="pickUpLocation" id="tripMileage" size=".2" maxlength="30" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Pick Up Address:</strong></span>
                <input name="pickUpAddress" id="pickUpAddress" size=".5" maxlength="30" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Pick Up Time:</strong></span>
                <input type="time" name="pickUpTime" id="pickUpTime" size="2" maxlength="3" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Pick Up Number:</strong></span>
                <input type="number" name="pickUpNum" id="pickUpNum" size="2" maxlength="5" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Number BOL:</strong></span>
                <input type="number" name="numBOL" id="numBOL" size="2" maxlength="5" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Loaded Trailer Number:</strong></span>
                <input type="number" name="numLDTrailer" id="numLDTrailer" size="2" maxlength="5" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Empty Trailer Number:</strong></span>
                <input type="number" name="numMTTrailer" id="numMTTrailer" size="2" maxlength="5" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Delivery Location:</strong></span>
                <input name="deliveryLocation" id="deliveryLocation" size=".5" maxlength="30" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Delivery Address:</strong></span>
                <input  name="deliveryAddress" id="deliveryAddress" size=".5" maxlength="30" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Delivery Time:</strong></span>
                <input type="time" name="deliveryTime" id="deliveryTime" size="2" maxlength="3" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Delivery Date:</strong></span>
                <input type="date" name="deliveryDate" id="deliveryDate" size="2" maxlength="3" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Delivery Number:</strong></span>
                <input type="number" name="deliveryNum" id="deliveryNum" size="2" maxlength="10" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Loaded Miles:</strong></span>
                <input type="number" name="ldMiles" id="ldMiles" size="2" maxlength="6" class="u-pull-right">
            </div>
        </div>
        <div class="row">
            <div class="six columns offset-by-three">
                <span class="u-pull-left"><strong>Empty Miles:</strong></span>
                <input type="number" name="mtMiles" id="mtMiles" size="2" maxlength="6" class="u-pull-right">
            </div>
        </div>

        <div class="row text-center">
            <input class="button-primary" type="button" value="Enter Log" name="enterLog" id="enterLog">
        </div>
    </form>
</div>