<br>
<div class="container" id="result">
    <div class="row">
        <div class="six columns offset-by-three text-center">
            <h4>Your trip has been logged.</h4>
        </div>
    </div>
    <div class="row">
        <div class="six columns offset-by-three text-center">
            <h4>Thank you.</h4>
        </div>
    </div>
    <div class="row text-center">
        <input class="button-primary" type="button" value="New Log" name="newLog" id="newLog">
    </div>
</div>